[*.cs]

# CA2007: Попробуйте вызвать ConfigureAwait для ожидаемой задачи
dotnet_diagnostic.CA2007.severity = none

# CA2227: Свойства коллекций должны быть доступны только для чтения
dotnet_diagnostic.CA2227.severity = none
